<!DOCTYPE html>
<html>
  <head>
    <style>
        p { 
            margin: 2px; 
        }
    </style>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <BR />
        <p class="error"><strong>Erreur : </strong> {{ error }}</p>
      {% endif %}

      <BR />
      <!-- messages -->
      <font color="blue">
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
      </font>
    </div>

  </body>
</html>